.tabs
    display: flex
    flex-wrap: wrap
    margin-bottom: 45px
    position: relative
    > *
        margin-left: 60px
        &:first-child
            margin-left: 0
    
.tabs__item
    font-size: 18px
    color: $gray
    cursor: pointer
    transition: color .15s ease
    font-family: $main-bold

    &:hover
        color: $alt-accent

    &.active
        color: $alt-accent
        text-decoration: underline

    &:focus
        outline: 0