doctype html
html(lang='ru')

    include ../modules/head

    body

        // begin wrapper
        .wrapper

            include ../modules/header

            // begin page
            main

                // begin page-section 
                section.page-section.testimonials-section
                    .container

                        // begin breadcrumbs 
                        .breadcrumbs
                            ul.breadcrumbs__list
                                li.breadcrumbs__item
                                    a.breadcrumbs__link(href="#") Главная
                                li.breadcrumbs__item
                                    span Отзывы
                        // end breadcrumbs 

                        header.heading.page-section__header
                            h1 Отзывы

                            .leave-feedback
                                .leave-feedback__text
                                    p.
                                        Нам очень важно Ваше мнение.
                                        Оставьте свой отзыв о нашей компании
                                button(type="button").button.leave-feedback__btn Добавить отзыв
                            
                        ul.testimonials-section__list
                            li.testi
                                .testi__wrapper
                                    .testi__customer
                                        .testi__customer-img(style="background-image: url(img/main-sections/testimonials/customer.jpg)")
                                        .testi__customer-info.testi__customer-info--img
                                            img(src="img/main-sections/testimonials/company.jpg", alt="Company")
                                    .testi__text
                                        .testi__customer-info.testi__customer-info--name
                                            h5 Иван Иванов
                                            span Компания "Компания"
                                        .testi__customer-data
                                            time(datetime="2018-07-25").date 25.07.2018    
                                        p.
                                            Наша компания давно сотрудничает с компанией Горизонт. Бывают плановые заказы, иногда возникают абсолютно непредсказуемые и срочные, но работая с Горизонтом, 
                                            мы всегда спокойны за результат! Ваши менеджеры улавливают идеи и наши пожелания на лету. Иногда кажется, что в эту компанию можно обратиться с любым вопросом: сувенирка, оформление офиса, макеты стендов. Перепробовала несколько полиграфий до этого, 
                                            и Горизонт - самая лучшая в Санкт-Петербурге. Всегда 
                                            с пониманием, с предложениями (что и как лучше сделать), и заботой относятся к каждому заказу. Даже когда обращалась во внеурочное время (после завершения рабочего дня, в выходные и т.д. - поскольку надо, "горит") - ни разу не было никакого негатива или даже намека на это!
                                        p.
                                            Специалисты высокого класса! Хорошее качество, делают не «и так сойдет», а переживают за любой заказ – всегда рекомендуют проверенные материалы и форматы, отзывчивые, предупреждают, если будет задержка 
                                            в печати. В общем всем смело могу советовать!
                                    .testi__image
                                        img(src="img/main-sections/testimonials/people.jpg", alt="People")
                            li.testi
                                .testi__wrapper
                                    .testi__customer
                                        .testi__customer-img(style="background-image: url(img/main-sections/testimonials/customer.jpg)")
                                        .testi__customer-info.testi__customer-info--img
                                            img(src="img/main-sections/testimonials/logo-dimov.png", alt="Company")
                                    .testi__text
                                        .testi__customer-info.testi__customer-info--name
                                            h5 Иван Иванов
                                            span Компания "Компания"
                                        .testi__customer-data
                                            time(datetime="2018-07-25").date 25.07.2018 
                                        p.
                                            Наша компания давно сотрудничает с компанией Горизонт. Бывают плановые заказы, иногда возникают абсолютно непредсказуемые и срочные, но работая с Горизонтом, 
                                            мы всегда спокойны за результат! Ваши менеджеры улавливают идеи и наши пожелания на лету. Иногда кажется, что в эту компанию можно обратиться с любым вопросом: сувенирка, оформление офиса, макеты стендов. Перепробовала несколько полиграфий до этого, 
                                            и Горизонт - самая лучшая в Санкт-Петербурге. Всегда 
                                            с пониманием, с предложениями (что и как лучше сделать), и заботой относятся к каждому заказу. Даже когда обращалась во внеурочное время (после завершения рабочего дня, в выходные и т.д. - поскольку надо, "горит") - ни разу не было никакого негатива или даже намека на это!
                                        p.
                                            Специалисты высокого класса! Хорошее качество, делают не «и так сойдет», а переживают за любой заказ – всегда рекомендуют проверенные материалы и форматы, отзывчивые, предупреждают, если будет задержка 
                                            в печати. В общем всем смело могу советовать!
                                    .testi__image
                                        img(src="img/main-sections/testimonials/swatches.jpg", alt="Swatches")
                            li.testi
                                .testi__wrapper
                                    .testi__customer
                                        .testi__customer-img(style="background-image: url(img/main-sections/testimonials/woman.png)")
                                        .testi__customer-info.testi__customer-info--img
                                            img(src="img/main-sections/testimonials/teremok_logo_new.png", alt="Company")
                                    .testi__text
                                        .testi__customer-info.testi__customer-info--name
                                            h5 Иван Иванов
                                            span Компания "Компания"
                                        .testi__customer-data
                                            time(datetime="2018-07-25").date 25.07.2018 
                                        p.
                                            Наша компания давно сотрудничает с компанией Горизонт. Бывают плановые заказы, иногда возникают абсолютно непредсказуемые и срочные, но работая с Горизонтом, 
                                            мы всегда спокойны за результат! Ваши менеджеры улавливают идеи и наши пожелания на лету. Иногда кажется, что в эту компанию можно обратиться с любым вопросом: сувенирка, оформление офиса, макеты стендов. Перепробовала несколько полиграфий до этого, 
                                            и Горизонт - самая лучшая в Санкт-Петербурге. Всегда 
                                            с пониманием, с предложениями (что и как лучше сделать), и заботой относятся к каждому заказу. Даже когда обращалась во внеурочное время (после завершения рабочего дня, в выходные и т.д. - поскольку надо, "горит") - ни разу не было никакого негатива или даже намека на это!
                                        p.
                                            Специалисты высокого класса! Хорошее качество, делают не «и так сойдет», а переживают за любой заказ – всегда рекомендуют проверенные материалы и форматы, отзывчивые, предупреждают, если будет задержка 
                                            в печати. В общем всем смело могу советовать!
                                    .testi__image
                                        img(src="img/main-sections/testimonials/cups.jpg", alt="Cups")
                            li.testi
                                .testi__wrapper
                                    .testi__customer
                                        .testi__customer-img(style="background-image: url(img/main-sections/testimonials/man.png)")
                                        .testi__customer-info.testi__customer-info--img
                                            img(src="img/main-sections/testimonials/logostolplit.png", alt="Company")
                                    .testi__text
                                        .testi__customer-info.testi__customer-info--name
                                            h5 Иван Иванов
                                            span Компания "Компания"
                                        .testi__customer-data
                                            time(datetime="2018-07-25").date 25.07.2018 
                                        p.
                                            Наша компания давно сотрудничает с компанией Горизонт. Бывают плановые заказы, иногда возникают абсолютно непредсказуемые и срочные, но работая с Горизонтом, 
                                            мы всегда спокойны за результат! Ваши менеджеры улавливают идеи и наши пожелания на лету. Иногда кажется, что в эту компанию можно обратиться с любым вопросом: сувенирка, оформление офиса, макеты стендов. Перепробовала несколько полиграфий до этого, 
                                            и Горизонт - самая лучшая в Санкт-Петербурге. Всегда 
                                            с пониманием, с предложениями (что и как лучше сделать), и заботой относятся к каждому заказу. Даже когда обращалась во внеурочное время (после завершения рабочего дня, в выходные и т.д. - поскольку надо, "горит") - ни разу не было никакого негатива или даже намека на это!
                                        p.
                                            Специалисты высокого класса! Хорошее качество, делают не «и так сойдет», а переживают за любой заказ – всегда рекомендуют проверенные материалы и форматы, отзывчивые, предупреждают, если будет задержка 
                                            в печати. В общем всем смело могу советовать!
                                    .testi__image
                                        img(src="img/main-sections/testimonials/sheldon.jpg", alt="Sheldon")

                        // begin pagination 
                        .pagination
                            ul.pagination__list
                                li.pagination__item
                                    a.pagination__link(href="#")
                                        i.fas.fa-angle-left
                                li.pagination__item
                                    span.active 01
                                li.pagination__item
                                    a.pagination__link(href="#") 02
                                li.pagination__item
                                    a.pagination__link(href="#") 03
                                li.pagination__item
                                    a.pagination__link(href="#") 04
                                li.pagination__item
                                    a.pagination__link(href="#") 05
                                li.pagination__item
                                    span ...
                                li.pagination__item
                                    a.pagination__link(href="#") 10
                                li.pagination__item
                                    a.pagination__link(href="#")
                                        i.fas.fa-angle-right
                        // end pagination     

                // end page-section 

            // end page

        // end wrapper

        // begin form
        section.form.form--testimonial
            h2 Оставьте свой отзыв
            .form__text Нам очень важно Ваше мнение.
            form(method="post")
                input(type="text" required="required" placeholder="Ваше имя" name="name").form__input.form__input--testi
                input(type="text" placeholder="Название компании" name="company-name").form__input.form__input--testi
                .form__input.form__input--file-wrapper 
                    span Файл
                    span.form__input--file-name
                    label.form__input.form__label Выбрать файл
                        input(type="file" name="company-name").form__input.form__input--file
                .form__input.form__input--file-wrapper 
                    span Лого
                    span.form__input--file-name
                    label.form__input.form__label Выбрать файл
                        input(type="file" name="company-name").form__input.form__input--file
                textarea(required="required" placeholder="Текст отзыва" name="testimonial").form__input.form__input--testi-text
                button(type="submit").form__btn.button.button--blue Отправить
            .form__offer Нажимая кнопку вы даете согласие на обработку своих персональных данных
            button(type="button").form__btn-close    
        // end form  

        .overlay

        include ../modules/footer
        include ../modules/form


        // scripts 
        script(src='js/scripts.min.js')