.mobile-search
    +col(2.15)
    display: none
    justify-content: center

    @media #{$_xsm}
        display: flex
    
.mobile-search__btn
    background-color: transparent
    border: 0
    width: 70px
    height: 70px
    display: none
    align-items: center
    justify-content: center
    .svg-inline--fa
        font-size: 32px
        color: $gray

    &:focus
        outline: 0

    &.active
        background-color: $light

    @media #{$_xsm}
        display: flex
        width: 50px
        height: 50px
        .svg-inline--fa
            font-size: 24px

.mobile-search__form
    position: absolute
    top: 100%
    left: 0
    width: 100%
    z-index: 2
    display: none

    &.active
        display: block

    input
        width: 100%
        padding: 15px 40% 15px 15px
        border: 0
        outline: none
        background-color: darken($gainsboro, 5%)

        &::placeholder
            font-style: italic
            
    select
        position: absolute
        right: 45px
        top: 0
        width: 25%
        border: none
        border-left: 1px solid #bfbebe
        border-right: 1px solid #bfbebe
        background-color: #e7e7e7
        height: 100%

.mobile-search__form-btn
    position: absolute
    z-index: 3
    top: 50%
    transform: translateY(-50%)
    right: 5px
    background-color: transparent
    border: 0

    .svg-inline--fa
        font-size: 25px
        color: $accent

    @media #{$_xsm}
        .svg-inline--fa
            font-size: 22px