.two-col
    column-count: 2

.page-list
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 100%
    margin-top: 35px

    @media #{$_sm}
        margin-top: 25px

.subpage-list
    margin-top: 15px
    column-gap: 50px

    @media #{$_sm}
        column-gap: 30px

.page-list__item,
.subpage-list__item
    page-break-inside: avoid
    break-inside: avoid

.page-list__item
    font-size: 18px
    font-weight: 600
    font-family: $main-semibold

    @media #{$_sm}
        font-size: 16px

        &:nth-child(2n) .subpage-list
            width: 264px

.subpage-list__item
    font-size: 16px

    @media #{$_sm}
        font-size: 14px

.numbered-list
    margin-top: 15px
    padding-left: 15px

.numbered-list__item
    list-style: decimal
    font-weight: 400
    font-family: $main-regular
    padding-left: 15px

    @media #{$_sm}
        padding-left: 10px

    a
        font-size: 14px

        @media #{$_sm}
            font-size: 12px