doctype html
html(lang='ru')

    title Горизонт
    include ../modules/head

    body

        // begin wrapper
        .wrapper

            include ../modules/header

            // begin page
            main.page 

                // begin page-section 
                section.page-section.news-card
                    .container

                        // begin breadcrumbs 
                        .breadcrumbs
                            ul.breadcrumbs__list
                                li.breadcrumbs__item
                                    a(href="index.html") Главная
                                li.breadcrumbs__item
                                    a(href="news.html") Новости и акции
                                li.breadcrumbs__item
                                    span Запуск нового оборудования
                            ul.breadcrumbs__list.breadrcrumbs__list--hidden
                                li.breadcrumbs__item
                                    a(href="#") 
                                        i.fas.fa-angle-left
                                        |  Назад
                                li.breadcrumbs__item
                                    a(href="#") 
                                        |  Следующая новость
                                        i.fas.fa-angle-right
                        // end breadcrumbs 

                        header.heading.page-section__header
                            h1.page-title Запуск нового оборудования

                            // begin breadcrumbs 
                            .breadcrumbs
                                ul.breadcrumbs__list
                                    li.breadcrumbs__item
                                        a(href="#") 
                                            i.fas.fa-angle-left
                                            |  Предыдущая новость
                                    li.breadcrumbs__item
                                        a(href="#") 
                                            | Следующая новость
                                            i.fas.fa-angle-right

                            // end breadcrumbs 

                        .text
                            .image-right
                                img(src="img/news-card/image.jpg", alt="alt")
                            p.
                                Теперь эксклюзивно для наших новых и постоянных клиентов - еще больше возможностей для реализаций самых смелых и креативных идей 
                                с помощью УФ-печати!
                            p.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                            p.
                                ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                            p.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            
                        .news-card__down
                            // begin breadcrumbs 
                            .breadcrumbs
                                ul.breadcrumbs__list
                                    li.breadcrumbs__item
                                        a(href="#") 
                                            i.fas.fa-angle-left
                                            |  Возврат к списку
                            // end breadcrumbs 
                            time(datetime="2018-07-25").date 25.07.2018

                // end page-section 

            // end page

        // end wrapper

        include ../modules/footer


        // scripts 
        script(src='js/scripts.min.js')