doctype html
html(lang='ru')

    include ../modules/head

    body

        // begin wrapper
        .wrapper

            include ../modules/header

            // begin page
            main 

                // begin page-section 
                section.page-section.catalog
                    .container

                        // begin breadcrumbs 
                        .breadcrumbs
                            ul.breadcrumbs__list
                                li.breadcrumbs__item
                                    a.breadcrumbs__link(href="#") Главная
                                li.breadcrumbs__item
                                    a.breadcrumbs__link(href="#") Портфолио
                                li.breadcrumbs__item
                                    span Широкоформатная печать
                        // end breadcrumbs 

                        header.heading.page-section__header
                            h1 Широкоформатная печать

                        .portfolio-card
                            ul.portfolio-card__menu
                                li
                                    a.portfolio-card__link(href="#") Все
                                li
                                    a.portfolio-card__link.active Широкоформатная печать
                                li
                                    a.portfolio-card__link(href="#") Визитки
                                li
                                    a.portfolio-card__link(href="#") POS-материалы
                                li
                                    a.portfolio-card__link(href="#") Календари
                                li
                                    a.portfolio-card__link(href="#") Многополосная продукция
                                li
                                    a.portfolio-card__link(href="#") Таблички
                                li
                                    a.portfolio-card__link(href="#") Сувениры к праздникам
                                li
                                    a.portfolio-card__link(href="#") Подарочные наборы
                                li
                                    a.portfolio-card__link(href="#") Футболки
                                li
                                    a.portfolio-card__link(href="#") Посуда
                                li
                                    a.portfolio-card__link(href="#") Для офиса
                                li
                                    a.portfolio-card__link(href="#") Промо

                            ul.portfolio-card__card.magnific-gallery
                                li(tabindex="0").portfolio-card__item
                                    a(href="img/portfolio/portfolio-card/DSC_0274.jpg")
                                        img(src="img/portfolio/portfolio-card/DSC_0274.jpg", alt="Print-card image")
                                    div
                                        h2.portfolio-card__title Печать афиш на обычной мелованной бумаге
                                        button(type="button").button.button--orange.btn-back-call Хочу такую же!
                                li(tabindex="0").portfolio-card__item
                                    a(href="img/portfolio/portfolio-card/DSC_0280.jpg")
                                        img(src="img/portfolio/portfolio-card/DSC_0280.jpg", alt="Print-card image")
                                    div
                                        h2.portfolio-card__title Печать афиш на обычной мелованной бумаге
                                        button(type="button").button.button--orange.btn-back-call Хочу такую же!
                                li(tabindex="0").portfolio-card__item
                                    a(href="img/portfolio/portfolio-card/DSC_0318.jpg")
                                        img(src="img/portfolio/portfolio-card/DSC_0318.jpg", alt="Print-card image")
                                    div
                                        h2.portfolio-card__title Печать афиш на обычной мелованной бумаге
                                        button(type="button").button.button--orange.btn-back-call Хочу такую же!
                                li(tabindex="0").portfolio-card__item
                                    a(href="img/portfolio/portfolio-card/DSCN0981.png")
                                        img(src="img/portfolio/portfolio-card/DSCN0981.png", alt="Print-card image")
                                    div
                                        h2.portfolio-card__title Печать афиш на обычной мелованной бумаге
                                        button(type="button").button.button--orange.btn-back-call Хочу такую же!
                                li(tabindex="0").portfolio-card__item
                                    a(href="img/portfolio/portfolio-card/banners.jpg")
                                        img(src="img/portfolio/portfolio-card/banners.jpg", alt="Print-card image")
                                    div
                                        h2.portfolio-card__title Печать афиш на обычной мелованной бумаге
                                        button(type="button").button.button--orange.btn-back-call Хочу такую же!
                                li(tabindex="0").portfolio-card__item
                                    a(href="img/portfolio/portfolio-card/tampo.jpg")
                                        img(src="img/portfolio/portfolio-card/tampo.jpg", alt="Print-card image")
                                    div
                                        h2.portfolio-card__title Печать афиш на обычной мелованной бумаге
                                        button(type="button").button.button--orange.btn-back-call Хочу такую же!
                                li(tabindex="0").portfolio-card__item
                                    a(href="img/portfolio/portfolio-card/rain.jpg")
                                        img(src="img/portfolio/portfolio-card/rain.jpg", alt="Print-card image")
                                    div
                                        h2.portfolio-card__title Печать афиш на обычной мелованной бумаге
                                        button(type="button").button.button--orange.btn-back-call Хочу такую же!
                                li(tabindex="0").portfolio-card__item
                                    a(href="img/portfolio/portfolio-card/sdl.jpg")
                                        img(src="img/portfolio/portfolio-card/sdl.jpg", alt="Print-card image")
                                    div
                                        h2.portfolio-card__title Печать афиш на обычной мелованной бумаге
                                        button(type="button").button.button--orange.btn-back-call Хочу такую же!
                                li(tabindex="0").portfolio-card__item
                                    a(href="img/portfolio/portfolio-card/coins.jpg")
                                        img(src="img/portfolio/portfolio-card/coins.jpg", alt="Print-card image")
                                    div
                                        h2.portfolio-card__title Печать афиш на обычной мелованной бумаге
                                        button(type="button").button.button--orange.btn-back-call Хочу такую же!
                         
                        // begin pagination 
                        .pagination
                            ul.pagination__list
                                li.pagination__item
                                    a.pagination__link(href="#")
                                        i.fas.fa-angle-left
                                li.pagination__item
                                    span.active 01
                                li.pagination__item
                                    a.pagination__link(href="#") 02
                                li.pagination__item
                                    a.pagination__link(href="#") 03
                                li.pagination__item
                                    a.pagination__link(href="#") 04
                                li.pagination__item
                                    a.pagination__link(href="#") 05
                                li.pagination__item
                                    span ...
                                li.pagination__item
                                    a.pagination__link(href="#") 10
                                li.pagination__item
                                    a.pagination__link(href="#")
                                        i.fas.fa-angle-right
                        // end pagination

                // end page-section 

            // end page

        // end wrapper

        .overlay

        include ../modules/footer
        include ../modules/form


        // scripts 
        script(src='js/scripts.min.js')