doctype html
html(lang='ru')

    title Горизонт
    include ../modules/head

    body

        // begin wrapper
        .wrapper

            include ../modules/header

            // begin page
            main 

                // begin page-section 
                section.page-section
                    .container

                        // begin breadcrumbs 
                        .breadcrumbs
                            ul.breadcrumbs__list
                                li.breadcrumbs__item
                                    a.breadcrumbs__link(href="#") Главная
                                li.breadcrumbs__item
                                    span Поиск
                            ul.breadcrumbs__list.breadrcrumbs__list--hidden
                                li.breadcrumbs__item
                                    a.breadcrumbs__link(href="#") 
                                        i.fas.fa-angle-left
                                        |  Назад
                        // end breadcrumbs 

                        header.heading.page-section__header
                            h1.search-print__page-title Результаты поиска
                                span.search-print__text  по запросу
                                span : блокноты Адьютант

                        .catalog-print.services-card
                            .catalog-souvenir__filter.search-print__filter
                                span Сортировать по:
                                ul.catalog-souvenir__filter-list
                                    li.catalog-souvenir__filter-item
                                        a.catalog-souvenir__filter-link(href="#") Цене
                                            i.fas.fa-angle-down 
                                    li.catalog-souvenir__filter-item
                                        a.catalog-souvenir__filter-link(href="#") Популярности
                                            i.fas.fa-angle-down
                                    li.catalog-souvenir__filter-item
                                        a.catalog-souvenir__filter-link(href="#") Названию
                                            i.fas.fa-angle-down
                                    li.catalog-souvenir__filter-item
                                        a.catalog-souvenir__filter-link(href="#") Новинкам
                                            i.fas.fa-angle-down

                            ul.catalog-print__list.search-souvenir__list
                                li.catalog-print__item.catalog-souvenir__item(tabindex="0")
                                    .catalog-souvenir__imgs
                                        .catalog-print__img.catalog-souvenir__img
                                            img.catalog-souvenir-card__img-main(src="img/basket/image.jpg", alt="Catalog image")
                                        ul.catalog-souvenir__list
                                            li
                                                img(src="img/catalog/img1_1.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img1_2.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img1_3.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img1_4.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img1_5.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img1_6.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img1_7.jpg", alt="Catalog souvenir image")
                                    a.catalog-print__link(href="#")
                                        span Ежедневник BRAND, недатированный, синий
                                    .catalog-souvenir__price
                                        span 380 ₽
                                    .basket-vendor-code__text
                                        | Артикул: 0000000
                                        br
                                        | Размер: 15х21 см
                                        br
                                        | Вес: 550 г
                                        br
                                        | На складе: 51 шт
                                    .catalog-print-card__desc.catalog-souvenir__btn
                                        button.button.button--blue.catalog-print-add(type="button") В корзину
                                        button.button.button--orange.catalog-print-done.active(type="button") Товар в корзине
                                            i.fas.fa-check
                                li.catalog-print__item.catalog-souvenir__item(tabindex="0")
                                    .catalog-souvenir__imgs
                                        .catalog-print__img.catalog-souvenir__img
                                            img.catalog-souvenir-card__img-main(src="img/basket/image2.jpg", alt="Catalog image")
                                        ul.catalog-souvenir__list
                                            li
                                                img(src="img/catalog/img2_1.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img2_2.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img2_3.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img2_4.jpg", alt="Catalog souvenir image")
                                    a.catalog-print__link(href="#") 
                                        span Ежедневник Lyric classic, недатированный, синий
                                    .catalog-souvenir__price
                                        span 499 ₽
                                    .basket-vendor-code__text
                                        | Артикул: 0000000
                                        br
                                        | Размер: 15х21 см
                                        br
                                        | Вес: 500 г
                                        br
                                        | На складе: 200 шт
                                    .catalog-print-card__desc.catalog-souvenir__btn
                                        button.button.button--blue.catalog-print-add(type="button") В корзину
                                        button.button.button--orange.catalog-print-done.active(type="button") Товар в корзине
                                            i.fas.fa-check
                                li.catalog-print__item.catalog-souvenir__item(tabindex="0")
                                    .catalog-souvenir__imgs
                                        .catalog-print__img.catalog-souvenir__img
                                            img.catalog-souvenir-card__img-main(src="img/basket/image3.jpg", alt="Catalog image")
                                        ul.catalog-souvenir__list
                                            li
                                                img(src="img/catalog/img3_1.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img3_2.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img3_3.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img3_4.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img3_5.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img3_6.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img3_7.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img3_8.jpg", alt="Catalog souvenir image")
                                    a.catalog-print__link(href="#") 
                                        span Ежедневник Tone, недатированный, черный с фиолетовым
                                    .catalog-souvenir__price
                                        span 598 ₽
                                    .basket-vendor-code__text
                                        | Артикул: 0000000
                                        br
                                        | Размер: 15х21 см
                                        br
                                        | Вес: 416,67 г
                                        br
                                        | На складе: 100 шт
                                    .catalog-print-card__desc.catalog-souvenir__btn
                                        button.button.button--blue.catalog-print-add(type="button") В корзину
                                        button.button.button--orange.catalog-print-done.active(type="button") Товар в корзине
                                            i.fas.fa-check
                                li.catalog-print__item.catalog-souvenir__item(tabindex="0")
                                    .catalog-souvenir__imgs
                                        .catalog-print__img.catalog-souvenir__img
                                            img.catalog-souvenir-card__img-main(src="img/basket/image.jpg", alt="Catalog image")
                                        ul.catalog-souvenir__list
                                            li
                                                img(src="img/catalog/img1_1.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img1_2.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img1_3.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img1_4.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img1_5.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img1_6.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img1_7.jpg", alt="Catalog souvenir image")
                                    a.catalog-print__link(href="#")
                                        span Ежедневник BRAND, недатированный, синий
                                    .catalog-souvenir__price
                                        span 380 ₽
                                    .basket-vendor-code__text
                                        | Артикул: 0000000
                                        br
                                        | Размер: 15х21 см
                                        br
                                        | Вес: 550 г
                                        br
                                        | На складе: 51 шт
                                    .catalog-print-card__desc.catalog-souvenir__btn
                                        button.button.button--blue.catalog-print-add(type="button") В корзину
                                        button.button.button--orange.catalog-print-done.active(type="button") Товар в корзине
                                            i.fas.fa-check
                                li.catalog-print__item.catalog-souvenir__item(tabindex="0")
                                    .catalog-souvenir__imgs
                                        .catalog-print__img.catalog-souvenir__img
                                            img.catalog-souvenir-card__img-main(src="img/basket/image2.jpg", alt="Catalog image")
                                        ul.catalog-souvenir__list
                                            li
                                                img(src="img/catalog/img2_1.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img2_2.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img2_3.jpg", alt="Catalog souvenir image")
                                            li
                                                img(src="img/catalog/img2_4.jpg", alt="Catalog souvenir image")
                                    a.catalog-print__link(href="#") 
                                        span Ежедневник Lyric classic, недатированный, синий
                                    .catalog-souvenir__price
                                        span 499 ₽
                                    .basket-vendor-code__text
                                        | Артикул: 0000000
                                        br
                                        | Размер: 15х21 см
                                        br
                                        | Вес: 500 г
                                        br
                                        | На складе: 200 шт
                                    .catalog-print-card__desc.catalog-souvenir__btn
                                        button.button.button--blue.catalog-print-add(type="button") В корзину
                                        button.button.button--orange.catalog-print-done.active(type="button") Товар в корзине
                                            i.fas.fa-check
                                
                            // begin pagination 
                            .pagination
                                ul.pagination__list
                                    li.pagination__item
                                        a.pagination__link(href="#")
                                            i.fas.fa-angle-left
                                    li.pagination__item
                                        a(href="#").pagination__link.active 01
                                    li.pagination__item
                                        a.pagination__link(href="#") 02
                                    li.pagination__item
                                        a.pagination__link(href="#") 03
                                    li.pagination__item
                                        a.pagination__link(href="#") 04
                                    li.pagination__item
                                        a.pagination__link(href="#") 05
                                    li.pagination__item
                                        span ...
                                    li.pagination__item
                                        a.pagination__link(href="#") 10
                                    li.pagination__item
                                        a.pagination__link(href="#")
                                            i.fas.fa-angle-right
                            // end pagination        
                // end page-section 

            // end page

        // end wrapper

        .overlay

        include ../modules/footer
        include ../modules/form


        // scripts 
        script(src='js/scripts.min.js')