doctype html
html(lang='ru')

  title Горизонт
  include ../modules/head

  body

    // begin wrapper
    .wrapper

      include ../modules/header

      // begin page
      main.page

        .container
        
            // begin breadcrumbs 
            .breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a(href="index.html") Главная
                    li.breadcrumbs__item
                        span Услуги
                ul.breadcrumbs__list.breadrcrumbs__list--hidden
                    li.breadcrumbs__item
                        a(href="index.html") 
                            i.fas.fa-angle-left
                            |  Назад
            // end breadcrumbs 

            // begin page-section 
            section.page-section.page-section--template
                header.heading.page-section__header
                    h1.page-title Услуги
                .page-section__wrapper
                    ul.services
                        li.services__item
                            a.services__link(href="services-card.html") 
                                h2 Цифровая оперативная печать
                                .services__img
                                    img(src="img/services/website.png", alt="Website").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 Широкоформатная печать
                                .services__img
                                    img(src="img/services/plotter11.png", alt="Plotter").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        li.services__item
                            a.services__link(href="#") 
                                h2 Офсетная печать
                                .services__img
                                    img(src="img/services/offset.png", alt="Offset").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 Шелкотрафаретная печать
                                .services__img
                                    img(src="img/services/print.png", alt="Print").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 Тампопечать
                                .services__img
                                    img(src="img/services/laser.png", alt="Laser").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 Термоперенос на одежду и ткань
                                .services__img
                                    img(src="img/services/butterfly.png", alt="Thermo").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 Плоттерная резка
                                .services__img
                                    img(src="img/services/sticker.png", alt="Sticker").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 Обрамление в профиль
                                .services__img
                                    img(src="img/services/prof.png", alt="Prof").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 Круговая печать на сувенирах
                                .services__img
                                    img(src="img/services/laser1.png", alt="Laser2").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 Тиснение
                                .services__img
                                    img(src="img/services/flower.png", alt="Flower").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 Конгрев
                                .services__img
                                    img(src="img/services/discount.png", alt="Discount").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 Вырубка
                                .services__img
                                    img(src="img/services/cake.png", alt="Cake").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 УФ-лакировка
                                .services__img
                                    img(src="img/services/secure-shield.png", alt="Secure shield").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 Накат на основу, пвх-пластик и пенокартон
                                .services__img
                                    img(src="img/services/legal-paper.png", alt="Legal paper").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 УФ-печать
                                .services__img
                                    img(src="img/services/uf.png", alt="Uf").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 Закатные значки
                                .services__img
                                    img(src="img/services/star3.png", alt="Star").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item
                            a.services__link(href="#") 
                                h2 Лазерная гравировка
                                .services__img
                                    img(src="img/services/laser2.png", alt="Laser3").order__img
                                .services__text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        li.services__item.services__item--all
                            a.services__link.services__link--all(href="#") 
                                h2 Все виды постпечатной обработки тиражей
                                .services__img
                                    img(src="img/services/catalog.png", alt="Catalog").order__img
                                .services__text
                                    p Ламинирование
                                    p Сборка на пластиковую пружину и т.д.
        // end container

      // end page

    // end wrapper

    .overlay

    include ../modules/footer
    include ../modules/form


    // scripts 
    script(src='js/scripts.min.js')