doctype html
html(lang='ru')

  include ../modules/head

  body

    // begin wrapper
    .wrapper

      include ../modules/header

      // begin page
      main
 
        section.page-section
        
            .container
                // begin breadcrumbs 
                .breadcrumbs
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="#") Главная
                        li.breadcrumbs__item
                            span Штампы
                // end breadcrumbs 

                header.heading.page-section__header
                    h1 Штампы
                
                ul.stamps
                    li.stamps__item
                        a.stamps__link(href="#")
                            .stamps__img
                                img(src="img/catalog/print/beydj_1.jpg", alt="Catalog image") 
                            span Бумажные пакеты
                    li.stamps__item
                        a.stamps__link(href="#") 
                            .stamps__img
                                img(src="img/catalog/print/DSC_0008.jpg", alt="Catalog image")
                            span Бирки, ярлыки, воблеры
                    li.stamps__item
                        a.stamps__link(href="#") 
                            .stamps__img
                                img(src="img/catalog/print/DSCN0566.jpg", alt="Catalog image")
                            span Папки
                    li.stamps__item
                        a.stamps__link(href="#")
                            .stamps__img
                                img(src="img/catalog/print/DSCN2100.jpg", alt="Catalog image")
                            span Фигуры
                    li.stamps__item
                        a.stamps__link(href="#") 
                            .stamps__img
                                img(src="img/catalog/print/DSCN2108.jpg", alt="Catalog image")
                            span Коробки
                    li.stamps__item
                        a.stamps__link(href="#") 
                            .stamps__img
                                img(src="img/catalog/print/DSCN2111.jpg", alt="Catalog image")
                            span Конверты, кармашки
                    li.stamps__item
                        a.stamps__link(href="#")
                            .stamps__img
                                img(src="img/catalog/print/IMG_6283.jpg", alt="Catalog image") 
                            span Визитки, карточки, открытки

        // begin question-section 
        section.question-section(style="background-image: url(img/template-page/dots.png)")
            .container
                h2.question-section__title Остались вопросы?
                form.question-form
                    .question-form__wrapper
                        input(type="text" name="name" required="required" placeholder="Ваше имя").question-form__item
                        input(type="text" name="phone" required="required" placeholder="Ваш телефон").question-form__item
                        button(type="submit").button.button--blue Позвоните мне
                    .question-form__text
                        | Нажимая кнопку вы даете согласие на обработку своих 
                        a(href="#") персональных данных

        // end question-section 

      // end page

    // end wrapper

    .overlay

    include ../modules/footer
    include ../modules/form


    // scripts 
    script(src='js/scripts.min.js')