doctype html
html(lang='ru')

    title Горизонт
    include ../modules/head

    body

        // begin wrapper
        .wrapper

            include ../modules/header

            // begin page
            main.page 

                // begin page-section 
                section.page-section.testimonials-section
                    .container

                        // begin breadcrumbs 
                        .breadcrumbs
                            ul.breadcrumbs__list
                                li.breadcrumbs__item
                                    a(href="index.html") Главная
                                li.breadcrumbs__item
                                    span Корзина
                            ul.breadcrumbs__list.breadrcrumbs__list--hidden
                                li.breadcrumbs__item
                                    a(href="#") 
                                        i.fas.fa-angle-left
                                        |  Назад
                        // end breadcrumbs 

                        header.heading.page-section__header
                            h1.page-title Отзывы

                            .leave-feedback
                                .leave-feedback__text
                                    p.
                                        Нам очень важно Ваше мнение.
                                        Оставьте свой отзыв о нашей компании
                                a(href="#").button Добавить отзыв
                            
                        ul.testimonials-section__list
                            li.testi
                                .testi__wrapper
                                    .testi__customer
                                        .testi__customer-img(style="background-image: url(img/main-sections/testimonials/customer.jpg)")
                                        .testi__customer-info
                                            img(src="img/main-sections/testimonials/company.jpg", alt="Company")
                                    .testi__text
                                        .testi__customer-info
                                            h5 Иван Иванов
                                            span Компания "Компания"
                                        p.
                                            Наша компания давно сотрудничает с компанией Горизонт. Бывают плановые заказы, иногда возникают абсолютно непредсказуемые и срочные, но работая с Горизонтом, 
                                            мы всегда спокойны за результат! Ваши менеджеры улавливают идеи и наши пожелания на лету. Иногда кажется, что в эту компанию можно обратиться с любым вопросом: сувенирка, оформление офиса, макеты стендов. Перепробовала несколько полиграфий до этого, 
                                            и Горизонт - самая лучшая в Санкт-Петербурге. Всегда 
                                            с пониманием, с предложениями (что и как лучше сделать), и заботой относятся к каждому заказу. Даже когда обращалась во внеурочное время (после завершения рабочего дня, в выходные и т.д. - поскольку надо, "горит") - ни разу не было никакого негатива или даже намека на это!
                                        p.
                                            Специалисты высокого класса!  Хорошее качество, делают не «и так сойдет», а переживают за любой заказ – всегда рекомендуют проверенные материалы и форматы, отзывчивые, предупреждают, если будет задержка 
                                            в печати. В общем всем смело могу советовать!
                                    .testi__image
                                        img(src="img/main-sections/testimonials/people.jpg", alt="People")
                            li.testi
                                .testi__wrapper
                                    .testi__customer
                                        .testi__customer-img(style="background-image: url(img/main-sections/testimonials/customer.jpg)")
                                        .testi__customer-info
                                            img(src="img/main-sections/testimonials/logo-dimov.png", alt="Company")
                                    .testi__text
                                        .testi__customer-info
                                            h5 Иван Иванов
                                            span Компания "Компания"
                                        p.
                                            Наша компания давно сотрудничает с компанией Горизонт. Бывают плановые заказы, иногда возникают абсолютно непредсказуемые и срочные, но работая с Горизонтом, 
                                            мы всегда спокойны за результат! Ваши менеджеры улавливают идеи и наши пожелания на лету. Иногда кажется, что в эту компанию можно обратиться с любым вопросом: сувенирка, оформление офиса, макеты стендов. Перепробовала несколько полиграфий до этого, 
                                            и Горизонт - самая лучшая в Санкт-Петербурге. Всегда 
                                            с пониманием, с предложениями (что и как лучше сделать), и заботой относятся к каждому заказу. Даже когда обращалась во внеурочное время (после завершения рабочего дня, в выходные и т.д. - поскольку надо, "горит") - ни разу не было никакого негатива или даже намека на это!
                                        p.
                                            Специалисты высокого класса!  Хорошее качество, делают не «и так сойдет», а переживают за любой заказ – всегда рекомендуют проверенные материалы и форматы, отзывчивые, предупреждают, если будет задержка 
                                            в печати. В общем всем смело могу советовать!
                                    .testi__image
                                        img(src="img/main-sections/testimonials/people.jpg", alt="People")
                            li.testi
                                .testi__wrapper
                                    .testi__customer
                                        .testi__customer-img(style="background-image: url(img/main-sections/testimonials/woman.png)")
                                        .testi__customer-info
                                            img(src="img/main-sections/testimonials/teremok_logo_new.png", alt="Company")
                                    .testi__text
                                        .testi__customer-info
                                            h5 Иван Иванов
                                            span Компания "Компания"
                                        p.
                                            Наша компания давно сотрудничает с компанией Горизонт. Бывают плановые заказы, иногда возникают абсолютно непредсказуемые и срочные, но работая с Горизонтом, 
                                            мы всегда спокойны за результат! Ваши менеджеры улавливают идеи и наши пожелания на лету. Иногда кажется, что в эту компанию можно обратиться с любым вопросом: сувенирка, оформление офиса, макеты стендов. Перепробовала несколько полиграфий до этого, 
                                            и Горизонт - самая лучшая в Санкт-Петербурге. Всегда 
                                            с пониманием, с предложениями (что и как лучше сделать), и заботой относятся к каждому заказу. Даже когда обращалась во внеурочное время (после завершения рабочего дня, в выходные и т.д. - поскольку надо, "горит") - ни разу не было никакого негатива или даже намека на это!
                                        p.
                                            Специалисты высокого класса!  Хорошее качество, делают не «и так сойдет», а переживают за любой заказ – всегда рекомендуют проверенные материалы и форматы, отзывчивые, предупреждают, если будет задержка 
                                            в печати. В общем всем смело могу советовать!
                                    .testi__image
                                        img(src="img/main-sections/testimonials/people.jpg", alt="People")
                            li.testi
                                .testi__wrapper
                                    .testi__customer
                                        .testi__customer-img(style="background-image: url(img/main-sections/testimonials/man.png)")
                                        .testi__customer-info
                                            img(src="img/main-sections/testimonials/logostolplit.png", alt="Company")
                                    .testi__text
                                        .testi__customer-info
                                            h5 Иван Иванов
                                            span Компания "Компания"
                                        p.
                                            Наша компания давно сотрудничает с компанией Горизонт. Бывают плановые заказы, иногда возникают абсолютно непредсказуемые и срочные, но работая с Горизонтом, 
                                            мы всегда спокойны за результат! Ваши менеджеры улавливают идеи и наши пожелания на лету. Иногда кажется, что в эту компанию можно обратиться с любым вопросом: сувенирка, оформление офиса, макеты стендов. Перепробовала несколько полиграфий до этого, 
                                            и Горизонт - самая лучшая в Санкт-Петербурге. Всегда 
                                            с пониманием, с предложениями (что и как лучше сделать), и заботой относятся к каждому заказу. Даже когда обращалась во внеурочное время (после завершения рабочего дня, в выходные и т.д. - поскольку надо, "горит") - ни разу не было никакого негатива или даже намека на это!
                                        p.
                                            Специалисты высокого класса!  Хорошее качество, делают не «и так сойдет», а переживают за любой заказ – всегда рекомендуют проверенные материалы и форматы, отзывчивые, предупреждают, если будет задержка 
                                            в печати. В общем всем смело могу советовать!
                                    .testi__image
                                        img(src="img/main-sections/testimonials/people.jpg", alt="People")

                            

                // end page-section 

            // end page

        // end wrapper

        include ../modules/footer


        // scripts 
        script(src='js/scripts.min.js')