mixin menuLink(link, text)
    li.menu__item
        a.menu__link(href= link)= text

// begin header 
header.header
    .header__top
        .container
            .row
                // begin menu 
                .menu
                    ul.menu__list
                        +menuLink("#", "О компании")
                        +menuLink("#", "Отзывы")
                        +menuLink("#", "Оплата и доставка")
                        +menuLink("#", "Контакты")
                        +menuLink("#", "Статьи")
                // end menu 

                // begin socials 
                .socials.header__socials
                    ul.socials__list
                        li.socials__item
                            a(href="#").socials__link.socials__link--gray
                                i.fab.fa-vk
                        li.socials__item
                            a(href="#").socials__link.socials__link--gray
                                i.fab.fa-instagram
                        li.socials__item
                            a(href="#").socials__link.socials__link--gray
                                i.fab.fa-facebook-f
                // end socials 

    .header__bottom
        .container.header__bottom-container
            .row.header__bottom-row
                .header__logo
                    // begin logo 
                    a(href="#").logo
                        img(src="img/header/logo.png", alt="Logotype")
                    // end logo 
                .mobile-search
                    button.mobile-search__btn
                        i.fas.fa-search
                    form.mobile-search__form
                        input(type="text" required="required" placeholder="Поиск...")
                        select(name="search")
                            option.navigation-search__link(value="print") Печатная продукция
                            option.navigation-search__link(value="souvenir") Сувенирная продукция
                        button(type="submit").mobile-search__form-btn
                            i.fas.fa-search
                .mobile-basket
                    a(href="#")
                        i.fas.fa-shopping-cart
                .mobile-menu
                    button.mobile-btn
                        span.mobile-btn__top
                        span.mobile-btn__middle
                        span.mobile-btn__bottom
                .header__contacts
                    .header__location
                        .header__contacts-icon
                            img(src="img/header/placeholder.svg", alt="Geo marker")
                        .header__links
                            a.header__link(href="#") Санкт-Петербург, ул. Швецова 12/2
                            span.header__link пн-пт: 09:00 - 18:00<br>сб-вс: 10:00 - 16:00
                    .header__phones
                        .header__contacts-icon
                            img(src="img/header/phone.png", alt="Phone")
                        .header__links
                            a.header__link(href="tel:+78124934953") +7 (812) 493-49-53
                            a.header__link(href="tel:+78127401397") +7 (812) 740-13-97
                .header__actions
                    .header__buttons
                        button(type="button").button.button--orange.btn-write Напишите мне
                        button(type="button").button.button--blue.btn-call Позвоните мне

                    div.header__basket-wrapper
                        a(href="#").header__basket
                            .header__basket-left
                                img.header__basket-icon(src="img/header/shopping-cart.svg", alt="Basket")
                            .header__basket-right
                                .header__basket-price 1000р
                                .header__basket-goods 2 товара


    include ../modules/navigation
    
// end header 