.navigation
    background-color: $accent

    @media #{$_xsm}
        display: none
        background-color: #ffffff
        color: $main-color

        &--active 
            position: absolute
            z-index: 2
            display: block
            width: 100%
    
.navigation__container
    display: flex
    position: relative
    
.navigation__list
    flex-grow: 1
    display: flex
    flex-wrap: wrap
    align-items: center

    @media #{$_xsm}
        display: block

.navigation__item
    flex-grow: 1

    &--mobile
        display: none

    &:hover
        .navigation__link
            border-color: $alt-accent

            &--mobile
                border-color: transparent

        .dropdown
            visibility: visible
            opacity: 1

    @media #{$_xsm}
        border-bottom: 1px solid $light

        &--mobile
            display: block

.navigation__link
    text-align: center
    display: flex
    width: 100%
    align-items: center
    justify-content: center
    padding-top: 14px
    padding-bottom: 11px
    color: #ffffff
    font-size: 16px
    border-bottom: 3px solid transparent

    .svg-inline--fa
        margin-left: 6px

    @media #{$_lg}
        font-size: 14px

    @media #{$_sm}
        font-size: 11.5px

    @media #{$_xsm}
        justify-content: flex-start
        padding-top: 12px
        padding-bottom: 9px
        color: $main-color
        font-size: 12px

        .svg-inline--fa
            margin-left: 0
            margin-right: 8px
            
            path
                fill: $gray

        .fa-angle-down
            transform: rotate(270deg)
            width: 6px
            margin: 0 0 0 auto

        &--mobile
            .fa-phone
                transform: rotate(90deg)

.nav-button
    background-color: $alt-accent
    font-family: $main-bold
    border: 0
    border-bottom: 3px solid transparent
    cursor: pointer

    &--back 
        display: none

    .fa-angle-down
        display: none

    &:focus
        outline: 0

    @media #{$_xsm}
        padding: 12px 0 9px
        font-family: $main-regular
        background-color: #fff

        .fa-angle-down
            display: block

        img 
            display: none

        &--back 
            padding: 12px 0 9px 18px

            .fa-angle-down
                position: absolute
                left: 5%
                top: 15px
                transform: rotate(90deg)

.navigation-search__input
    position: absolute
    right: 65px
    height: 100%
    border: 0
    background-color: $light-accent
    padding: 0 30px
    top: 50%
    transform: translateY(-50%)
    color: #ffffff
    font-family: $main-italic
    letter-spacing: 0.5px
    opacity: 0
    visibility: hidden
    width: 0
    transition: width .3s ease, opacity .3s ease, visibility .3s ease

    &::placeholder
        opacity: 1

    &:focus
        outline: 0

.burger
    width: 14px
    margin-right: 12px

.sublist__link
    color: $main-color
    display: inline-block
    line-height: 1.8

    &:hover
        text-decoration: underline

.navigation-search__form
    height: 100%

.navigation-search__button
    height: 100%
    width: 50px
    background-color: $light-accent
    border: 0
    cursor: pointer
    transition: background-color .15s ease

    &:hover
        background-color: lighten($light-accent, 3%)

    &:focus
        outline: 0

    &:active
        background-color: darken($light-accent, 3%)

    .svg-inline--fa
        color: #ffffff
        font-size: 16px

    @media #{$_xsm}
        display: none