// begin testimonials 
section.testimonials.section
    .testimonials__background
        img(src="img/main-sections/testimonials/background.png", alt="Testi background")
    .container.testimonials__container
        .heading
            h2 Отзывы клиентов
        .testimonials__wrapper
            .slick-nav-prev.testimonials__prev
                img(src="img/icons/left-arrow.svg", alt="Arrow icon")
            ul.testis
                li.testi
                    .testi__wrapper
                        .testi__customer
                            .testi__customer-img(style="background-image: url(img/main-sections/testimonials/customer.jpg)")
                            .testi__customer-info
                                h5 Иван Иванов
                                span Компания "Компания"
                                img(src="img/main-sections/testimonials/company.jpg", alt="Company")
                        .testi__text
                            p.
                                Наша компания давно сотрудничает с компанией Горизонт. Бывают плановые заказы, иногда возникают абсолютно непредсказуемые и срочные, но работая с Горизонтом, 
                                мы всегда спокойны за результат! Ваши менеджеры улавливают идеи и наши пожелания на лету. Иногда кажется, что в эту компанию можно обратиться с любым вопросом: сувенирка, оформление офиса, макеты стендов. Перепробовала несколько полиграфий до этого, 
                                и Горизонт - самая лучшая в Санкт-Петербурге. Всегда 
                                с пониманием, с предложениями (что и как лучше сделать), и заботой относятся к каждому заказу. Даже когда обращалась во внеурочное время (после завершения рабочего дня, в выходные и т.д. - поскольку надо, "горит") - ни разу не было никакого негатива или даже намека на это!
                            p.
                                Специалисты высокого класса!  Хорошее качество, делают не «и так сойдет», а переживают за любой заказ – всегда рекомендуют проверенные материалы и форматы, отзывчивые, предупреждают, если будет задержка 
                                в печати. В общем всем смело могу советовать!
                        .testi__image
                            img(src="img/main-sections/testimonials/people.jpg", alt="People")
                        .testi__quotes
                            img(src="img/main-sections/testimonials/double-quotes.png", alt="Quotes")
                li.testi
                    .testi__wrapper
                        .testi__customer
                            .testi__customer-img(style="background-image: url(img/main-sections/testimonials/customer.jpg)")
                            .testi__customer-info
                                h5 Иван Иванов
                                span Компания "Компания"
                                img(src="img/main-sections/testimonials/company.jpg", alt="Company")
                        .testi__text
                            p.
                                Наша компания давно сотрудничает с компанией Горизонт. Бывают плановые заказы, иногда возникают абсолютно непредсказуемые и срочные, но работая с Горизонтом, 
                                мы всегда спокойны за результат! Ваши менеджеры улавливают идеи и наши пожелания на лету. Иногда кажется, что в эту компанию можно обратиться с любым вопросом: сувенирка, оформление офиса, макеты стендов. Перепробовала несколько полиграфий до этого, 
                                и Горизонт - самая лучшая в Санкт-Петербурге. Всегда 
                                с пониманием, с предложениями (что и как лучше сделать), и заботой относятся к каждому заказу. Даже когда обращалась во внеурочное время (после завершения рабочего дня, в выходные и т.д. - поскольку надо, "горит") - ни разу не было никакого негатива или даже намека на это!
                            p.
                                Специалисты высокого класса!  Хорошее качество, делают не «и так сойдет», а переживают за любой заказ – всегда рекомендуют проверенные материалы и форматы, отзывчивые, предупреждают, если будет задержка 
                                в печати. В общем всем смело могу советовать!
                        .testi__image
                            img(src="img/main-sections/testimonials/people.jpg", alt="People")
                        .testi__quotes
                            img(src="img/main-sections/testimonials/double-quotes.png", alt="Quotes")

            .slick-nav-next.testimonials__next
                img(src="img/icons/right-arrow.svg", alt="Arrow icon")
// end testimonials 