@font-face
    font-family: 'Montserrat Bold'
    src: local("Montserrat Bold"), local("MontserratBold"), local("Montserrat-Bold"), local("Montserrat_Bold"), url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype')
    font-style: 700
    font-display: fallback
    font-weight: normal

@font-face
    font-family: 'Montserrat Light'
    src: local("Montserrat Light"), local("MontserratLight"), local("Montserrat-Light"), local("Montserrat_Light"), url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype')
    font-style: 300
    font-display: fallback
    font-weight: normal

@font-face
    font-family: 'Montserrat Regular'
    src: local("Montserrat Regular"), local("MontserratRegular"), local("Montserrat-Regular"), local("Montserrat_Regular"), url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype')
    font-style: 400
    font-display: fallback
    font-weight: normal

@font-face
    font-family: 'Montserrat Medium'
    src: local("Montserrat Medium"), local("MontserratMedium"), local("Montserrat-Medium"), local("Montserrat_Medium"), url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype')
    font-style: 500
    font-display: fallback
    font-weight: normal

@font-face
    font-family: 'Montserrat SemiBold'
    src: local("Montserrat SemiBold"), local("MontserratSemiBold"), local("Montserrat-SemiBold"), local("Montserrat_SemiBold"), url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype')
    font-style: 600
    font-display: fallback
    font-weight: normal

@font-face
    font-family: 'Montserrat Italic'
    src: local("Montserrat Italic"), local("MontserratItalic"), local("Montserrat-Italic"), local("Montserrat_Italic"), url('../fonts/montserrat/Montserrat-Italic.ttf') format('truetype')
    font-style: 400
    font-display: fallback
    font-weight: italic

@font-face
    font-family: 'Magistral Bold'
    src: local("Magistral Bold"), local("MagistralBold"), local("Magistral-Bold"), local("Magistral_Bold"), url('../fonts/magistral/MagistralC-Bold_29312.ttf') format('truetype')
    font-style: 700
    font-display: fallback
    font-weight: normal
