// begin footer 
footer.footer
    .footer__top
        .container
            .footer__wrapper
                ul.footer__menu
                    li.footer__menu-item
                        h4.footer__title Информация
                        ul.footer-submenu
                            li.footer-submenu__item
                                a.footer-submenu__link(href="#") О компании
                            li.footer-submenu__item
                                a.footer-submenu__link(href="#") Отзывы
                            li.footer-submenu__item
                                a.footer-submenu__link(href="#") Контакты
                            li.footer-submenu__item
                                a.footer-submenu__link(href="#") Статьи
                            li.footer-submenu__item
                                a.footer-submenu__link(href="#")
                                    | Политика
                                    br
                                    |  конфиденциальности
                    li.footer__menu-item
                        h4.footer__title Клиентам
                        ul.footer-submenu.footer-submenu--two-col
                            li.footer-submenu__item
                                a.footer-submenu__link(href="#") Каталог
                            li.footer-submenu__item
                                a.footer-submenu__link(href="#") Новости и акции
                            li.footer-submenu__item
                                a.footer-submenu__link(href="#") Требования к макетам
                            li.footer-submenu__item
                                a.footer-submenu__link(href="#") Портфолио
                            li.footer-submenu__item
                                a.footer-submenu__link(href="#") Услуги
                            li.footer-submenu__item
                                a.footer-submenu__link(href="#") Штампы
                            li.footer-submenu__item
                                a.footer-submenu__link(href="#") WOW-эффекты
                            li.footer-submenu__item
                                a.footer-submenu__link(href="#") Оплата и доставка
                ul.footer-info
                    li.footer-info__item
                        h4.footer__title
                            i.fas.fa-map-marker-alt
                            |  Наш адрес:
                        a(href="#").footer-info__link Санкт-Петербург, ул. Швецова 12/2
                    li.footer-info__item
                        h4.footer__title
                            i.far.fa-clock
                            |  График работы:
                        p
                            | пн-пт: 09:00 - 18:00
                            br
                            | сб-вс: 10:00 - 16:00
                    li.footer-info__item
                        h4.footer__title
                            i.fas.fa-phone
                            |  Наши телефоны:
                        a(href="tel:+78124934953").footer-info__link +7 (812) 493-49-53
                        a(href="tel:+78127401397").footer-info__link +7 (812) 740-13-97
                        button(type="button").button.button--white.btn-back-call Обратный звонок
                    li.footer-info__item
                        h4.footer__title
                            i.fas.fa-envelope
                            |  Наши соцсети:
                        .socials.footer-info__socials
                            ul.socials__list
                                li.socials__item
                                    a(href="#").socials__link
                                        i.fab.fa-vk
                                li.socials__item
                                    a(href="#").socials__link
                                        i.fab.fa-instagram
                                li.socials__item
                                    a(href="#").socials__link
                                        i.fab.fa-facebook-f
    .footer__bottom
        // begin copyright 
        section.copyright
            .container
                .copyright__text
                    p © Группа компаний «Горизонт», 2008—2019 г. 
                .copyright__last-text
                    a.copyright__link(href="http://volex.su/") Создание сайта - веб студия интернет-агентства “Волекс”
        // end copyright 
// end footer 