// begin footer 
footer.footer
    .footer__top
        .container
            .footer__wrapper
                ul.footer__menu
                    li.footer__menu-item
                        h4.footer__title Информация
                        ul.footer-submenu
                            li.footer-submenu__item
                                a(href="#") О компании
                            li.footer-submenu__item
                                a(href="#") Отзывы
                            li.footer-submenu__item
                                a(href="#") Контакты
                            li.footer-submenu__item
                                a(href="#") Статьи
                            li.footer-submenu__item
                                a(href="#")
                                    | Политика
                                    br
                                    |  конфиденциальности
                    li.footer__menu-item
                        h4.footer__title Клиентам
                        ul.footer-submenu.footer-submenu--two-col
                            li.footer-submenu__item
                                a(href="#") Каталог
                            li.footer-submenu__item
                                a(href="#") Новости и акции
                            li.footer-submenu__item
                                a(href="#") Требования к макетам
                            li.footer-submenu__item
                                a(href="#") Портфолио
                            li.footer-submenu__item
                                a(href="#") Услуги
                            li.footer-submenu__item
                                a(href="#") Штампы
                            li.footer-submenu__item
                                a(href="#") WOW-эффекты
                            li.footer-submenu__item
                                a(href="#") Оплата и доставка
                ul.footer-info
                    li.footer-info__item
                        h4.footer__title
                            i.fas.fa-map-marker-alt
                            |  Наш адрес:
                        a(href="https://yandex.ru/maps/2/saint-petersburg/?ll=30.282487%2C59.896689&z=16&mode=search&text=%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%2C%20%D1%83%D0%BB.%20%D0%A8%D0%B2%D0%B5%D1%86%D0%BE%D0%B2%D0%B0%2012%2F2&sll=30.315868%2C59.939095&sspn=0.679779%2C0.221882" target="_blank").footer-info__link Санкт-Петербург, ул. Швецова 12/2
                    li.footer-info__item
                        h4.footer__title
                            i.far.fa-clock
                            |  График работы:
                        p
                            | пн-пт: 09:00 - 18:00
                            br
                            | сб-вс: 10:00 - 16:00
                    li.footer-info__item
                        h4.footer__title
                            i.fas.fa-phone
                            |  Наши телефоны:
                        a(href="tel:+78124934953").footer-info__link +7 (812) 493-49-53
                        a(href="tel:+78127401397").footer-info__link +7 (812) 740-13-97
                        a(href="#").button.button--white Обратный звонок
                    li.footer-info__item
                        h4.footer__title
                            i.fas.fa-envelope
                            |  Наши соцсети:
                        .socials.footer-info__socials
                            ul.socials__list
                                li.socials__item
                                    a(href="#").socials__link
                                        i.fab.fa-vk
                                li.socials__item
                                    a(href="#").socials__link
                                        i.fab.fa-instagram
                                li.socials__item
                                    a(href="#").socials__link
                                        i.fab.fa-facebook-f
    .footer__bottom
        // begin copyright 
        section.copyright
            .container
                .copyright__text
                    p © Группа компаний «Горизонт», 2008—2018 г. 
        // end copyright 
// end footer 