mixin menuLink(link, text)
    li.menu__item
        a.menu__link(href= link)= text

// begin header 
header.header
    .header__top
        .container
            .row
                // begin menu 
                .menu
                    ul.menu__list
                        +menuLink("#", "О компании")
                        +menuLink("#", "Отзывы")
                        +menuLink("#", "Оплата и доставка")
                        +menuLink("#", "Контакты")
                        +menuLink("#", "Статьи")
                // end menu 

                // begin socials 
                .socials.header__socials
                    ul.socials__list
                        li.socials__item
                            a(href="#").socials__link.socials__link--gray
                                i.fab.fa-vk
                        li.socials__item
                            a(href="#").socials__link.socials__link--gray
                                i.fab.fa-instagram
                        li.socials__item
                            a(href="#").socials__link.socials__link--gray
                                i.fab.fa-facebook-f
                // end socials 

    .header__bottom
        .container.header__bottom-container
            .row.header__bottom-row
                .header__logo
                    // begin logo 
                    a(href="#").logo
                        img(src="img/header/logo.png", alt="Logotype")
                    // end logo 
                .mobile-search
                    button.mobile-search__btn
                        i.fas.fa-search
                    form.mobile-search__form
                        input(type="text" required="required" placeholder="Поиск...")
                        button(type="submit").mobile-search__form-btn
                            i.fas.fa-search
                .mobile-basket
                    a(href="#")
                        i.fas.fa-shopping-cart
                .mobile-menu
                    button.mobile-btn
                        span.mobile-btn__top
                        span.mobile-btn__middle
                        span.mobile-btn__bottom
                .header__contacts
                    .header__location
                        .header__contacts-icon
                            img(src="img/header/placeholder.svg", alt="Geo marker")
                        .header__links
                            a.header__link(href="https://yandex.ru/maps/2/saint-petersburg/?ll=30.282487%2C59.896689&z=16&source=wizgeo&utm_source=serp&l=map&utm_medium=maps-touch-phone&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D30.282488%252C59.896690%26spn%3D0.001000%252C0.001000%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%25A1%25D0%25B0%25D0%25BD%25D0%25BA%25D1%2582-%25D0%259F%25D0%25B5%25D1%2582%25D0%25B5%25D1%2580%25D0%25B1%25D1%2583%25D1%2580%25D0%25B3%252C%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%2520%25D0%25A8%25D0%25B2%25D0%25B5%25D1%2586%25D0%25BE%25D0%25B2%25D0%25B0%252C%252012%25D0%25BA2%2520" target="_blank") СПБ, ул. Швецова 12/2, корп. 2
                            span.header__link пн-пт: 09:00 - 18:00
                    .header__phones
                        .header__contacts-icon
                            img(src="img/header/phone.png", alt="Phone")
                        .header__links
                            a.header__link(href="tel:+78124934953") +7 (812) 493-49-53
                            a.header__link(href="tel:+78127401397") +7 (812) 740-13-97
                .header__actions
                    .header__buttons
                        a.button.button--orange(href="#") Напишите мне
                        a.button.button--blue(href="#") Позвоните мне

                    a(href="#").header__basket
                        .header__basket-left
                            img.header__basket-icon(src="img/header/shopping-cart.svg", alt="Basket")
                        .header__basket-right
                            .header__basket-price 1000р
                            .header__basket-goods 2 товара


    include ../modules/navigation
                    
// end header 