// begin navigation 
nav.navigation
    .container.navigation__container
        ul.navigation__list
            li.navigation__item
                button.navigation__link.nav-button
                    img(src="img/header/burger.svg", alt="Burger icon").burger
                    |  Каталог
                // begin subnav 
                .subnav
                    // begin tabs 
                    .tabs
                        .tabs__item.subnav-tab Печатная продукция
                        .tabs__item.subnav-tab Сувенирная продукция

                    .tabs__wrapper
                        .tabs__content
                            // begin subnav-list 
                            ul.subnav-list
                                li.subnav-list__item
                                    h5.subnav-list__heading Сувениры к праздникам:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/confetti.svg", alt="confetti")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки к 14 февраля
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки к 23 февраля
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки к 8 марта
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на день строителя
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на день металлурга
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День шахтера
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День знаний
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки ко Дню нефтяника
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День учителя
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарок коллеге
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки начальнику
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на юбилей компании
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки военным
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки морякам
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки автомобилисту
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки банковскому работнику
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки ко Дню энергетика
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на 14 февраля
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Сувениры к 23 февраля
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Сувениры к 8 марта
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День геолога
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День Победы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки детям
                                li.subnav-list__item
                                    h5.subnav-list__heading Флешки:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/flash-drive.svg", alt="flash-drive")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Оригинальные флешки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Металлические флешки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Пластиковые флешки
                                li.subnav-list__item
                                    h5.subnav-list__heading Промо:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/lighter.svg", alt="lighter")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Светоотражатели
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Антистрессы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Брелки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Металлические брелки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Зажигалки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Зеркала
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Промопродукция
                                li.subnav-list__item
                                    h5.subnav-list__heading Одежда:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/jacket.svg", alt="jacket")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Вертровки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Куртки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Толстовки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Шарфы, шапки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Трикотажные шапки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Кепки и бейсболки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Жилеты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Офисные рубашки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Джемперы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Спортивная одежда
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Аксессуары
                                li.subnav-list__item
                                    h5.subnav-list__heading Дом:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/house.svg", alt="house")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Косметическая продукция
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Интерьерные подарки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Вазы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Шкатулки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Фоторамки и фотоальбомы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Инструменты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Кухонные приспособления
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Текстиль для кухни и ванной
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наборы для ухода за обувью
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Игрушки
                                li.subnav-list__item
                                    h5.subnav-list__heading Сувениры к новому году:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/snow.svg", alt="snow")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Символ года
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Новогодний стол
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Новогодние украшения
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Новогодняя упаковка
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Новогодние подушки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Новогодний офис
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Зимние подарки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Оригинальные календари
                                li.subnav-list__item
                                    h5.subnav-list__heading Упаковка:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/supermarket-gift.svg", alt="supermarket-gift")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарочная упаковка
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарочные пакеты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Упаковка для новогодних подарков
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Жестяная упаковка
                                li.subnav-list__item
                                    h5.subnav-list__heading Для офиса:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/desk.svg", alt="desk")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Настольные аксессуары
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Пресс-папье
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наградная продукция
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Панно
                                li.subnav-list__item
                                    h5.subnav-list__heading Ручки:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/pen.svg", alt="pen")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Пластиковые ручки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Металлические ручки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Деревянные ручки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Карандаши
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Футляры для ручек
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наборы с ручками
                                li.subnav-list__item
                                    h5.subnav-list__heading Электрика:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/charging.svg", alt="charging")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Универсальные аккумуляторы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Компьютерные и мобильные аксессуары
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Потративные колонки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Зарядные устройства и адаптеры
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наушники
                                li.subnav-list__item
                                    h5.subnav-list__heading Футболки:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/jacket.svg", alt="jacket")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Мужские футболки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Женские футболки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Футболки для промо
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Футболки промо
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Футболки поло
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Детские футболки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Футболка T-bolka под нанесение
                                li.subnav-list__item
                                    h5.subnav-list__heading Отдых:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/thermo.svg", alt="thermo")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Товары для путешествий
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Термокружка
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Термосы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Бутылки для воды
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наборы для пикника
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Складные ножи и мультитулы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Фляжки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Автомобильные аксессуары
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Туристические принадлежности
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Игры и головоломки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Спортивные товары
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Пляжный отдых
                                li.subnav-list__item
                                    h5.subnav-list__heading Элитные подарки:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/book.svg", alt="book")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Знаки внимания
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарочные книги
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Музыкальные сувениры
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Золотые символы
                                li.subnav-list__item
                                    h5.subnav-list__heading Подарочные наборы:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/spirits.svg", alt="spirits")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Бизнес наборы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наборы для виски
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарочные продуктовые наборы
                                li.subnav-list__item
                                    h5.subnav-list__heading Ежедневники и блокноты:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/notebook.svg", alt="notebook")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Ежедневники “Адьютант”
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Оригинальные ежедневники
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Блокноты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наборы с ежедневниками
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Упаковка для ежедневников
                                li.subnav-list__item
                                    h5.subnav-list__heading Корпоративные:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/wallet-closed.svg", alt="wallet-closed")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Кошельки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Визитницы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Дорожные органайзеры
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Обложки для документов
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Зажимы для купюр
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Папки, портфели
                                li.subnav-list__item
                                    h5.subnav-list__heading Часы:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/jacket.svg", alt="jacket")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Настольные часы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Настенные часы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Песочные часы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") VIP-часы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наручные часы
                                li.subnav-list__item
                                    h5.subnav-list__heading Пледы и подушки:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/jacket.svg", alt="jacket")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Пледы для дома
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Пледы дорожные
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Декоративные подушки
                                li.subnav-list__item
                                    h5.subnav-list__heading Сумки:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/backpack.svg", alt="backpack")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Сумки для ноутбука
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Рюкзаки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Сумки для документов
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Сумки для покупок
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Дорожные сумки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Чемоданы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Несессеры
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Сумки для пикника
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Портфели
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Чехлы для планшета
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Спортивные сумки
                                li.subnav-list__item
                                    h5.subnav-list__heading Зонты:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/umbrella.svg", alt="umbrella")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Зонты трости
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Складные зонты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Необычные и оригинальные зонты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Элитные зонты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Мужские зонты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Женские зонты
                                li.subnav-list__item
                                    h5.subnav-list__heading Посуда:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/dishes.svg", alt="dishes")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Кружки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наборы посуды
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Элитная посуда
                        .tabs__content
                            // begin subnav-list 
                            ul.subnav-list
                                li.subnav-list__item
                                    h5.subnav-list__heading Сувениры к праздникам:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/confetti.svg", alt="confetti")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки к 14 февраля
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки к 23 февраля
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки к 8 марта
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на день строителя
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на день металлурга
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День шахтера
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День знаний
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки ко Дню нефтяника
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День учителя
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарок коллеге
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки начальнику
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на юбилей компании
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки военным
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки морякам
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки автомобилисту
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки банковскому работнику
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки ко Дню энергетика
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на 14 февраля
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Сувениры к 23 февраля
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Сувениры к 8 марта
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День геолога
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки на День Победы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарки детям
                                li.subnav-list__item
                                    h5.subnav-list__heading Флешки:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/flash-drive.svg", alt="flash-drive")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Оригинальные флешки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Металлические флешки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Пластиковые флешки
                                li.subnav-list__item
                                    h5.subnav-list__heading Промо:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/lighter.svg", alt="lighter")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Светоотражатели
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Антистрессы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Брелки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Металлические брелки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Зажигалки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Зеркала
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Промопродукция
                                li.subnav-list__item
                                    h5.subnav-list__heading Одежда:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/jacket.svg", alt="jacket")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Вертровки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Куртки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Толстовки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Шарфы, шапки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Трикотажные шапки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Кепки и бейсболки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Жилеты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Офисные рубашки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Джемперы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Спортивная одежда
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Аксессуары
                                li.subnav-list__item
                                    h5.subnav-list__heading Дом:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/house.svg", alt="house")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Косметическая продукция
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Интерьерные подарки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Вазы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Шкатулки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Фоторамки и фотоальбомы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Инструменты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Кухонные приспособления
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Текстиль для кухни и ванной
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наборы для ухода за обувью
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Игрушки
                                li.subnav-list__item
                                    h5.subnav-list__heading Сувениры к новому году:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/snow.svg", alt="snow")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Символ года
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Новогодний стол
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Новогодние украшения
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Новогодняя упаковка
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Новогодние подушки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Новогодний офис
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Зимние подарки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Оригинальные календари
                                li.subnav-list__item
                                    h5.subnav-list__heading Упаковка:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/supermarket-gift.svg", alt="supermarket-gift")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарочная упаковка
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарочные пакеты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Упаковка для новогодних подарков
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Жестяная упаковка
                                li.subnav-list__item
                                    h5.subnav-list__heading Для офиса:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/desk.svg", alt="desk")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Настольные аксессуары
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Пресс-папье
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наградная продукция
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Панно
                                li.subnav-list__item
                                    h5.subnav-list__heading Ручки:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/pen.svg", alt="pen")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Пластиковые ручки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Металлические ручки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Деревянные ручки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Карандаши
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Футляры для ручек
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наборы с ручками
                                li.subnav-list__item
                                    h5.subnav-list__heading Электрика:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/charging.svg", alt="charging")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Универсальные аккумуляторы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Компьютерные и мобильные аксессуары
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Потративные колонки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Зарядные устройства и адаптеры
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наушники
                                li.subnav-list__item
                                    h5.subnav-list__heading Футболки:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/jacket.svg", alt="jacket")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Мужские футболки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Женские футболки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Футболки для промо
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Футболки промо
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Футболки поло
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Детские футболки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Футболка T-bolka под нанесение
                                li.subnav-list__item
                                    h5.subnav-list__heading Отдых:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/thermo.svg", alt="thermo")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Товары для путешествий
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Термокружка
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Термосы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Бутылки для воды
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наборы для пикника
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Складные ножи и мультитулы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Фляжки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Автомобильные аксессуары
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Туристические принадлежности
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Игры и головоломки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Спортивные товары
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Пляжный отдых
                                li.subnav-list__item
                                    h5.subnav-list__heading Элитные подарки:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/book.svg", alt="book")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Знаки внимания
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарочные книги
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Музыкальные сувениры
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Золотые символы
                                li.subnav-list__item
                                    h5.subnav-list__heading Подарочные наборы:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/spirits.svg", alt="spirits")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Бизнес наборы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наборы для виски
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Подарочные продуктовые наборы
                                li.subnav-list__item
                                    h5.subnav-list__heading Ежедневники и блокноты:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/notebook.svg", alt="notebook")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Ежедневники “Адьютант”
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Оригинальные ежедневники
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Блокноты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наборы с ежедневниками
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Упаковка для ежедневников
                                li.subnav-list__item
                                    h5.subnav-list__heading Корпоративные:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/wallet-closed.svg", alt="wallet-closed")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Кошельки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Визитницы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Дорожные органайзеры
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Обложки для документов
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Зажимы для купюр
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Папки, портфели
                                li.subnav-list__item
                                    h5.subnav-list__heading Часы:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/jacket.svg", alt="jacket")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Настольные часы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Настенные часы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Песочные часы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") VIP-часы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наручные часы
                                li.subnav-list__item
                                    h5.subnav-list__heading Пледы и подушки:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/jacket.svg", alt="jacket")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Пледы для дома
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Пледы дорожные
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Декоративные подушки
                                li.subnav-list__item
                                    h5.subnav-list__heading Сумки:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/backpack.svg", alt="backpack")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Сумки для ноутбука
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Рюкзаки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Сумки для документов
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Сумки для покупок
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Дорожные сумки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Чемоданы
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Несессеры
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Сумки для пикника
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Портфели
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Чехлы для планшета
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Спортивные сумки
                                li.subnav-list__item
                                    h5.subnav-list__heading Зонты:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/umbrella.svg", alt="umbrella")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Зонты трости
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Складные зонты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Необычные и оригинальные зонты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Элитные зонты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Мужские зонты
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Женские зонты
                                li.subnav-list__item
                                    h5.subnav-list__heading Посуда:
                                    .subnav-list__body
                                        .subnav-list__icon
                                            img(src="img/icons/dishes.svg", alt="dishes")
                                        ul.subnav-list__links
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Кружки
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Наборы посуды
                                            li.subnav-list__links-item
                                                a.subnav-list__link(href="#") Элитная посуда
                            // end subnav-list 
                    // end tabs 
                // end subnav 
            li.navigation__item
                a(href="news.html").navigation__link Новости и акции
            li.navigation__item
                a(href="#").navigation__link Требования к макетам
            li.navigation__item
                a(href="#").navigation__link Портфолио
            li.navigation__item
                a(href="#").navigation__link 
                    |Услуги
                    i.fas.fa-angle-down
                // begin dropdown 
                .dropdown
                    ul.dropdown__wrapper
                        li.dropdown__item
                            a(href="#").dropdown__link Цифровая оперативная печать
                        li.dropdown__item
                            a(href="#").dropdown__link Все виды постпечатной
                                br
                                |  обработки тиражей:
                            ul.sublist
                                li.sublist__item
                                    a.sublist__link(href="#") Ламинирование
                                li.sublist__item
                                    a.sublist__link(href="#") Сборка на пластиковую пружину
                                li.sublist__item
                                    a.sublist__link(href="#") Сборка на металлическую
                                li.sublist__item
                                    a.sublist__link(href="#") Установка люверсов
                                li.sublist__item
                                    a.sublist__link(href="#") Склейка, ручные работы
                                li.sublist__item
                                    a.sublist__link(href="#") Упаковка продукции

                        li.dropdown__item
                            a.dropdown__link(href="#") Широкоформатная печать
                        li.dropdown__item
                            a.dropdown__link(href="#") Шелкотрафаретная печать
                        li.dropdown__item
                            a.dropdown__link(href="#") Термоперенос на одежду и ткань
                        li.dropdown__item
                            a.dropdown__link(href="#") Обрамление в профиль
                        li.dropdown__item
                            a.dropdown__link(href="#") Тиснение
                        li.dropdown__item
                            a.dropdown__link(href="#") Вырубка
                        li.dropdown__item
                            a.dropdown__link(href="#") Накат на основу, пвх-пластик и пенокартон
                        li.dropdown__item
                            a.dropdown__link(href="#") Лазерная гравировка

                        li.dropdown__item
                            a.dropdown__link(href="#") Офсетная печать
                        li.dropdown__item
                            a.dropdown__link(href="#") Тампопечать
                        li.dropdown__item
                            a.dropdown__link(href="#") Плоттерная резка
                        li.dropdown__item
                            a.dropdown__link(href="#") Круговая печать на сувенирах
                        li.dropdown__item
                            a.dropdown__link(href="#") Конгрев
                        li.dropdown__item
                            a.dropdown__link(href="#") УФ-лакировка
                        li.dropdown__item
                            a.dropdown__link(href="#") УФ-печать
                        li.dropdown__item
                            a.dropdown__link(href="#") Закатные значки
                // end dropdown 
            li.navigation__item
                a(href="#").navigation__link Штампы
            li.navigation__item
                a(href="#").navigation__link WOW-эффекты
        
        form.navigation-search
            input(type="text" required="required" placeholder="Пример: печать визиток").navigation-search__input
            button(type="button").navigation-search__button
                i.fas.fa-search
    
// end navigation 