// begin about 
section.about
    .container
        .about__wrapper
            .about__text
                .heading
                    h2 Несколько слов о нас
                p.
                    Типография по своей сути это отдельная компания, предприятие, производящее печатную продукцию различных форм и видов. Печать абсолютно на любой вкус. Процессы и технологии печати подразумевают несколько этапов по производству. Сначала подготовка до печати, затем сама печать и обработка после печати.
                p.
                    Типография, на сегодняшний день, важная составляющая рекламного бизнеса. К сожалению многие типографии предлагают только лишь печать продукции. Мы предоставляем заказчику полный комплекс услуг: от разработки визитки до корпоративного стиля, от широкоформатной печати до офсетной.
                

            .about__img
                img(src="img/main-sections/about/1.jpg", alt="About image")
        .about__buttons
            a(href="#").button Подробнее
// end about 