// begin clients 
section.clients
    .container
        .heading
            h2 Клиенты
        .clients__wrapper
            .slick-nav-prev.clients__prev
                img(src="img/icons/left-arrow.svg", alt="Arrow icon")
            ul.clients-slider
                li.clients-slider__item
                    a(href="#")
                        img(src="img/main-sections/clients/1.png", alt="Clients image")
                li.clients-slider__item
                    a(href="#")
                        img(src="img/main-sections/clients/2.png", alt="Clients image")
                li.clients-slider__item
                    a(href="#")
                        img(src="img/main-sections/clients/3.png", alt="Clients image")
                li.clients-slider__item
                    a(href="#")
                        img(src="img/main-sections/clients/4.png", alt="Clients image")
                li.clients-slider__item
                    a(href="#")
                        img(src="img/main-sections/clients/1.png", alt="Clients image")
                li.clients-slider__item
                    a(href="#")
                        img(src="img/main-sections/clients/2.png", alt="Clients image")
                li.clients-slider__item
                    a(href="#")
                        img(src="img/main-sections/clients/3.png", alt="Clients image")
                li.clients-slider__item
                    a(href="#")
                        img(src="img/main-sections/clients/4.png", alt="Clients image")
            .slick-nav-next.clients__next
                img(src="img/icons/right-arrow.svg", alt="Arrow icon")
// end clients 