// begin features 
section.features.section
    .container
        .heading
            h2 Преимущества
        ul.features-list
            li.feature
                .feature__img
                    img(src="img/main-sections/features/1.png", alt="Features image")
                .features__text
                    h6 Собственный технопарк
                    p.
                        Собственное, постоянно обновляемое оборудование, 
                        и грамотные специалисты-
                        технологи обеспечивают гарантию выполнения заказов 
                        любой сложности
            li.feature
                .feature__img
                    img(src="img/main-sections/features/2.png", alt="Features image")
                .features__text
                    h6 10 лет безупречной работы
                    p.
                        Многолетний опыт работы и наша команда профессионалов ― 
                        надежная основа для качественных решений в рекламном производстве
            li.feature
                .feature__img
                    img(src="img/main-sections/features/3.png", alt="Features image")
                .features__text
                    h6 Доставка во все регионы РФ
                    p.
                        Отлаженная система логистики позволяет осуществлять оперативную доставку не только по Санкт-Петербургу и области, 
                        но и во все регионы России
            li.feature
                .feature__img
                    img(src="img/main-sections/features/4.png", alt="Features image")
                .features__text
                    h6 Контроль качества макетов
                    p.
                        Оперативная проверка всех макетов профессиональными пре-пресс специалистами и разработка с нуля ― важные составляющие нашего сервиса
            li.feature
                .feature__img
                    img(src="img/main-sections/features/5.png", alt="Features image")
                .features__text
                    h6 Короткие сроки изготовления
                    p.
                        Большой опыт работы позволяет 
                        в максимально короткие сроки изготавливать любую продукцию
// end features 