// begin hero 
section.hero(style="background-image: url(img/main-sections/hero/background.png);")
    .hero__slider
        .hero__nav
            .slick-nav
                .slick-nav-prev.hero__prev
                    img(src="img/icons/left-arrow.svg", alt="Arrow icon")
                .slick-nav-next.hero__next
                    img(src="img/icons/right-arrow.svg", alt="Arrow icon")
        ul.hero__slider-list
            li.hero__item
                .container
                    .hero__item-wrapper
                        .hero__text
                            h5.headline Новое оборудование
                            h2.title УФ-Принтер
                            ul
                                li.
                                    - Отличная цветопередача и четкость изображения
                                li.
                                    - Возможность выборочной лакировки
                                li.
                                    - Полноценная печать на сувенирах
                        .hero__buttons
                            a.button(href="#") Подробнее
                .hero__img
                    img(src="img/main-sections/hero/slide-1.png", alt="Hero image")
            li.hero__item
                .container
                    .hero__item-wrapper
                        .hero__text
                            h5.headline Новое оборудование
                            h2.title УФ-Принтер
                            ul
                                li.
                                    - Отличная цветопередача и четкость изображения
                                li.
                                    - Возможность выборочной лакировки
                                li.
                                    - Полноценная печать на сувенирах
                        .hero__buttons
                            a.button(href="#") Подробнее
                .hero__img
                    img(src="img/main-sections/hero/slide-1.png", alt="Hero image")

            
    
// end hero 