// begin last-news 
section.last-news.section
    .container
        .heading
            h2 Последние новости
        ul.last-news__list
            li.news
                a(href="#").last-news__list-link
                    .last-news__list-img
                        img(src="img/main-sections/last-news/1.jpg", alt="Last news")
                    time(datetime="2018-07-25").date 25.07.2018
                    h6 Запуск нового оборудования
                    p.
                        Теперь эксклюзивно для наших новых и постоянных клиентов - еще больше возможностей 
                        для реализации самых смелых 
                        и креативных идей с помощью УФ-печати!
                    .hidden-arrow
                        img(src="img/icons/arrow-blue.svg", alt="Arrow")
            li.news
                a(href="#").last-news__list-link
                    .last-news__list-img
                        img(src="img/main-sections/last-news/2.jpg", alt="Last news")
                    time(datetime="2018-07-25").date 25.07.2018
                    h6 Жаркие скидки
                    p.
                        Только этим летом, скидки 
                        в размере 10% распростроняются на все товары электроники! Успейте приобрести по уникальному предложению!
                    .hidden-arrow
                        img(src="img/icons/arrow-blue.svg", alt="Arrow")
            li.news
                a(href="#").last-news__list-link
                    .last-news__list-img
                        img(src="img/main-sections/last-news/3.jpg", alt="Last news")
                    time(datetime="2018-07-25").date 25.07.2018
                    h6 Доброе утро с Горизонтом
                    p.
                        Теперь утро может быть не только добрым, но и выгодным! На все заказы оформленные до 12:00 дня скидка - 5% на все!
                    .hidden-arrow
                        img(src="img/icons/arrow-blue.svg", alt="Arrow")
            li.news
                a(href="#").last-news__list-link
                    .last-news__list-img
                        img(src="img/main-sections/last-news/4.jpg", alt="Last news")
                    time(datetime="2018-07-25").date 25.07.2018
                    h6 Запуск нового оборудования
                    p.
                        Теперь утро может быть не только добрым, но и выгодным! На все заказы оформленные до 12:00 дня скидка - 5% на все!
                    .hidden-arrow
                        img(src="img/icons/arrow-blue.svg", alt="Arrow")
                        
// end last-news 