// begin production 
section.production.section
    .container
        
        .tabs
            .production-slider
                .tabs__item.production-tab.active Печатная продукция
                .tabs__item.production-tab
                    a(href="#") Сувенирная продукция

        .tabs__wrapper.tabs__wrapper--prod
            .production-content

                ul.prods
                    li.product
                        a(href="#").product__body
                            h5.headline Широкоформатная печать 
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/1.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/1-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Наклейки и стикеры
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/2.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/2-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Визитки
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/3.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/3-hover.png", alt="hover production image")

                    li.product
                        a(href="catalog-print.html").product__body
                            h5.headline Блокноты
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/4.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/4-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline POS-материалы
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/5.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/5-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Конверты
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/6.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/6-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Календари 2018
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/7.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/7-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Пакеты
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/8.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/8-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Упаковка
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/9.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/9-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Папки
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/10.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/10-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline К мероприятию
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/11.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/11-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Многополосная продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/12.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/12-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Листовая продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/13.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/13-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Таблички
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/14.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/14-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Наградная продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/15.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/15-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Прочная продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/16.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/16-hover.png", alt="hover production image")

// end production 