// begin production 
section.production.section
    .container
        
        .tabs
            .slick-nav-prev.production__prev
                img(src="img/icons/left-arrow.svg", alt="Arrow icon")
            .production-slider
                .tabs__item.production-tab Печатная продукция
                .tabs__item.production-tab Сувенирная продукция
            .slick-nav-next.production__next
                img(src="img/icons/right-arrow.svg", alt="Arrow icon")

        .tabs__wrapper
            .production-content

                ul.prods
                    li.product
                        a(href="#").product__body
                            h5.headline Широкоформатная печать 
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/1.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/1-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Наклейки и стикеры
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/2.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/2-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Визитки
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/3.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/3-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Блокноты
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/4.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/4-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline POS-материалы
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/5.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/5-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Конверты
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/6.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/6-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Календари 2018
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/7.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/7-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Пакеты
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/8.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/8-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Упаковка
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/9.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/9-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Папки
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/10.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/10-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline К мероприятию
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/11.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/11-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Многополосная продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/12.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/12-hover.png", alt="hover production image")

                    li.product(style="display: none;")
                        a(href="#").product__body
                            h5.headline Листовая продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/13.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/13-hover.png", alt="hover production image")

                    li.product(style="display: none;")
                        a(href="#").product__body
                            h5.headline Таблички
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/14.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/14-hover.png", alt="hover production image")

                    li.product(style="display: none;")
                        a(href="#").product__body
                            h5.headline Наградная продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/15.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/15-hover.png", alt="hover production image")

                    li.product(style="display: none;")
                        a(href="#").product__body
                            h5.headline Прочная продукция
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/16.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/16-hover.png", alt="hover production image")

            .production-content

                ul.prods
                    li.product
                        a(href="#").product__body
                            h5.headline Сувениры к праздникам 
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/1.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/1-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Флешки
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/2.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/2-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Сувениры к новому году
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/3.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/3-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Упаковка
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/4.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/4-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Для офиса
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/5.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/5-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Ручки
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/6.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/6-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Электрика
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/7.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/7-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Одежда
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/8.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/8-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Дом
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/9.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/9-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Футболки
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/10.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/10-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Отдых
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/11.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/11-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Элитные подарки
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/12.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/12-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Подарочные наборы
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/13.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/13-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Ежедневники и блокноты
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/14.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/14-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Корпоративные
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/15.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/15-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Часы
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/16.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/16-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Пледы и подушки
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/17.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/17-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Сумки
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/18.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/18-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Зонты
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/19.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/19-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Посуда
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/20.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/20-hover.png", alt="hover production image")

                    li.product
                        a(href="#").product__body
                            h5.headline Промо
                            .product__price от 100 руб
                            .product__next
                                img(src="img/icons/arrow.svg", alt="Next image")
                            .product__image
                                img(src="img/main-sections/production/souvenir/21.png", alt="Production image")
                                img.hidden-img(src="img/main-sections/production/souvenir/21-hover.png", alt="hover production image")

        .production__button
            button(type="button").button.load-button Загрузить еще
        
// end production 