.hero 
    overflow-x: hidden
    
.hero__wrapper
    display: flex

.hero__item
    position: relative
    height: 390px
    padding: 30px 0 40px
    user-select: text
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    @media #{$_sm}
        padding: 30px 0 10px

    @media #{$xsm}
        height: 250px

    @media #{$sm}
        height: 380px

.hero__item-wrapper
    width: 40%
    padding-top: 0
    padding-bottom: 30px

    @media #{$_xsm}
        width: 100%
        padding-top: 30px
        padding-bottom: 30px
    
.hero__text
    height: 200px
    overflow-y: hidden

    p
        font-size: 18px
        color: #000000

    @media #{$_sm}
        p
            font-size: 14px

    @media #{$_xsm}
        height: 100px

    .title
        @media #{$_sm}
            font-size: 36px

        @media #{$_xsm}
            font-size: 28px

.hero__next,
.hero__prev
    display: flex
    width: 50%
    font-size: 28px

.hero__next
    justify-content: flex-end

.hero__next-wrap,
.hero__prev-wrap
    background-color: rgba(136, 136, 136, 0.3)
    width: 32px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    font-size: 28px

.hero__img
    display: flex
    align-items: center
    position: absolute
    top: 0
    right: 0;
    height: 190px
    width: 58%
    overflow: hidden
    
    img
        padding: 0
        margin: auto auto 0

        @media #{$xsm}
            margin: 0 auto auto 0 

        @media #{$sm}
            max-width: 850px

    @media #{$_xsm}
        position: static
        width: 100%
        transform: translateY(0)

    @media #{$xsm}
        height: 250px

    @media #{$sm}
        height: 380px

    @media (min-width: 1400px)
        width: 56%

    @media (min-width: 2100px)
        width: 53%

.hero__nav
    +container
    position: absolute
    bottom: 0
    left: 50%
    height: 40px
    transform: translateX(-50%)
    z-index: 1

    @media #{$_xsm}
        top: 5px

.hero__buttons
    .button
        margin: 30px 0 10px
        padding-left: 40px
        padding-right: 40px
        
        &:hover, &:focus
            background-color: $accent
            color: #ffffff

        &:active
            color: $accent
            background-color: transparent